theme: jekyll-theme-minimal
title: Interviews Knowledge Base
description: Guides for Python, interviews, and more.

plugins:
  - jekyll-relative-links

relative_links:
  enabled: true
  collections: true

include:
  - README.md